<%# <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<%# if @q %>
        <%#= search_form_for @q , url: :root_path  do|form| %>
        <%#= form.label :title_cont , 'Title' ,class:"form-label m-1" %>
        <%#= form.search_field :city_name_state_cont,class:'form-control me-2' ,placeholder: "places " %>
        <%#= form.submit class:"btn btn-outline-success" %>
        <%# end %>
        <%# end %>