<div class="col-lg-12">
	<div class=" mx-auto col-lg-8 justify-content-center">
		<div class="card">
			<h5 class="card-header">Add Hotel Details</h5>
			<div class="card-body">
				<h2> </h2>
				<%= render "form", model: @hotel %>

			</div>
		</div>
	</div>
</div>
